@font-face {
  font-family: "CSTM-Regular";
  src: url("font/Regular.woff2") format("woff2");
  src: url("font/Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "CSTM-Regular";
  src: url("font/Semibold.woff2") format("woff2");
  src: url("font/Semibold.woff") format("woff");
  font-weight: 600;
}